@font-face {
    font-family: tit;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
    font-family: txt;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root {
    --rosa-ppal: hsl(278, 100%, 78%);
    --rosa-sec: rgb(230, 187, 255);
    --rosa-terc: rgb(238, 208, 255);
    --rosa-back: rgb(246, 229, 255);
    --negro-soft: rgb(26, 26, 26);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: txt;
    color: var(--negro-soft);
}
.container-fluid:not(.navbar .container-fluid){
    display: grid;
    min-height: 100vh;
    grid-template: 
    "nav" auto
    "main" 
    "footer" auto / 100%;
    background-color: var(--rosa-back);
}
nav {
    grid-area: nav;
    width: 100%;
    color: var(--negro-soft);
    margin: 0 0 .5rem 0;
    background-color: var(--rosa-ppal);
    .navbar-brand {
        font-family: tit;
        font-size: 28px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-nav {
        margin: 0 0 0 0.3rem;
    }
    .nav-link {
        font-size: 20px;
    }
}
main {
    min-height: 80vh;
    grid-area: main;
    width: 100%;
}
footer {
    grid-area: footer;
    padding: .5rem;
    max-height: 15vh;
    background-color: var(--rosa-ppal);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}