main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.prods-tit {
    margin: .5rem 1rem 0 1rem;
    font-family: tit;
    color: var(--rosa-ppal);
    font-size: 28px;
}
.prods-imgs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .btn-cont {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .more-btn {
        border: 5px solid var(--rosa-ppal);
        border-radius: 10px;
        background-color: var(--rosa-terc);
        width: 8rem;
        height: 4rem;
        padding: 5px;
        margin: 1rem 0;
        font-size: 18px;
        font-weight: bold;
    }
}
.half {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hide {
    display: none;
}
.prods-imgs img {
    max-width: 250px;
    max-height: 350px;
    margin: 1rem;
    border: 5px solid var(--rosa-sec);
    border-radius: 5px;
    background-color: var(--rosa-sec);
}
@media (min-width: 1024px) {
    .hide {
        display: block;
    }
    .more-btn {
        display: none;
    }
}